In [1]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
#predictors_norm = predictors
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
n_cols = predictors_norm.shape[1] # number of predictors

In [7]:
from sklearn.metrics import mean_squared_error

In [13]:
mse_list = []

for i in range(50):
  # define regression model
  def regression_model():
      # create model
      model = Sequential()
      model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
      model.add(Dense(10, activation='relu'))
      model.add(Dense(10, activation='relu'))
      model.add(Dense(1))
      # compile model
      model.compile(optimizer='adam', loss='mean_squared_error')

      model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=0)
      return model
  model = regression_model()
  score = mean_squared_error(model.predict(predictors.values, verbose=0).flatten(), target.values)
  mse_list.append(score)

mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

In [14]:
mse_data = pd.DataFrame(mse_list, columns= ['MSE scores'])
mse_data

      MSE scores
0   9.132180e+06
1   2.354490e+07
2   5.547609e+07
3   4.923656e+07
4   1.934293e+07
5   3.460267e+07
6   3.655798e+07
7   3.833411e+07
8   2.126382e+07
9   1.017824e+07
10  1.661333e+07
11  1.235600e+07
12  5.317674e+07
13  4.409573e+07
14  2.541781e+07
15  2.684856e+07
16  3.660311e+07
17  6.155955e+06
18  2.611866e+07
19  4.725846e+07
20  8.051919e+06
21  3.690858e+07
22  3.667949e+07
23  2.653788e+07
24  8.290269e+06
25  4.091956e+07
26  6.355843e+07
27  8.547135e+06
28  4.739450e+07
29  3.555975e+07
30  4.290344e+07
31  3.216537e+07
32  5.224296e+07
33  2.442573e+07
34  2.621191e+07
35  4.341088e+07
36  6.174120e+06
37  1.301512e+07
38  1.693403e+07
39  9.210407e+06
40  3.707361e+07
41  6.254279e+07
42  6.432350e+07
43  2.413209e+07
44  8.205102e+06
45  2.565661e+07
46  2.553222e+07
47  2.826691e+07
48  2.752426e+07
49  5.159744e+06

In [15]:
print(f'The MSE mean is: {mse_mean}')
print(f'The MSE std is: {mse_std}')

The MSE mean is: 29597443.329968084
The MSE std is: 16306618.47868599